<!-- views/posts/index.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>ddMarket</title>

</head>

<body>
  <a href="/posts/new">New</a>

  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Type</th>
        <th>Price</th>
        <th>Author</th>
      </tr>
    </thead>

    <tbody>
      <% if(posts == null || posts.length ==0){ %>
        <tr>
          <td> There is no data to show :( </td>
        </tr>
      <% } %>

      <% posts.forEach(function(post, index){ %>
        <tr>
          <td><%= posts.length - index %></td>
          <td>
             <a href="/posts/<%= post._id %>"><%= post.title %></a>
          </td>
          <td><%= post.limitCount %></td>
          <td><%= post.dataType %></td>
          <td><%= post.price %> ETH</td>
          <td>TheFaceLab</td>
        </tr>
      <% }) %>

    </tbody>
  </table>
</body>

</html>
